.banner
    background: url(../img/banner-bg.jpg) center no-repeat
    backgrouns-size: cover
    &.alimentacao
        background-image: url(../img/banner-alimentacao.jpg)
    &.produtos
        background-image: url(../img/banner-produtos.jpg)
    &.caes
        background-image: url(../img/banner-caes.jpg)
    &.gatos
        background-image: url(../img/banner-gatos.jpg)
    &.sobre-nos
        background-image: url(../img/banner-sobre.jpg)
    &.contato
        background-image: url(../img/banner-contato.jpg) 
    &.encomendas
        background-image: url(../img/banner-encomendas.jpg) 
    &.entregas
        background-image: url(../img/banner-entregas.jpg) 
    h1
        color: $color.primary
        text-align: center
        margin: 20px
    p
        color: #ffffff
        text-align: center
    .grid
        display: flex
        flex-direction: column
        align-items: center
    .overlay
        padding: 100px 0
        background: rgba(0,0,0,0.6)
    .button
        color: $color.primary
        padding: 10px 25px
        line-height: 50px
        text-transform: uppercase
        border-style: solid 
        border-radius: 25px
        font-weight: 700
        transition: 0.2s
        &:hover
            color: $color.secondary
            background-color: $color.primary
            border-style: solid 
            border-radius: 25px
            border-color: $color.primary
        &:first-child
            margin-right: 10px