.benefits
    padding: 60px
    +below($bp.md)
        padding: 60px 20px 60px 20px
    .grid
        display: flex
        flex-wrap: wrap

.card-benefit
    width: 33.33%
    height: 399px
    position relative
    +below($bp.lg)
        width: 50%
    +below($bp.sm)
        width: 100%
    img
        width: 100%
        height 100%
        object-fit: cover
        object-position: center
    .overlay
        position: absolute
        top: 0
        left: 0
        z-index: 1
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        padding: 50px
        background-blend-mode: multiply
        background-color: rgba(0,0,0,0.1)
        &.orange
            background-blend-mode: multiply
            background-color: rgba(255,134,24,0.8)
            .text
                color: $color.primary
    .text
        text-align: center
        font-weight: 700
        color: $color.secondary
        font-size: 35px
        +below($bp.xg)
            font-size: 30px
        +below($bp.md)
            font-size: 24px
    .button
        color: $color.primary
        padding: 10px 25px
        line-height: 50px
        text-transform: uppercase
        text-align: center
        border-style: solid 
        border-radius: 50px
        font-weight: 700
        transition: 0.2s
        &:hover
            color: $color.secondary
            background-color: $color.primary
            border-style: solid 
            border-radius: 50px
            border-color: $color.primary