.feedback
    margin-bottom: 60px
    .title
        h2 
            text-align: center
            text-transform: uppercase
            color: $color.secondary
            position relative
            margin-bottom: 60px
            letter-spacing: 8px
            padding: 40px 0 40px 0
            &::after
                content: ""
                width: 300px
                height 1px
                background: $color.primary
                position absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
    .testimonials
        display: flex
        justify-content: space-between
        .card-feedback
            display: flex
            justify-content: space-between
            padding: 20px
            figure
                margin-right: 20px
                border-radius: 100%
            p
                padding-bottom: 10px
            span 
                font-weight: 700